$flaticon_largefont: "flaticon_large";

@font-face {
    font-family: $flaticon_largefont;
    src: url("./flaticon_large.woff2?1af72611aeacce1e3d034c502313dfa7") format("woff2"),
url("./flaticon_large.woff?1af72611aeacce1e3d034c502313dfa7") format("woff"),
url("./flaticon_large.eot?1af72611aeacce1e3d034c502313dfa7#iefix") format("embedded-opentype"),
url("./flaticon_large.ttf?1af72611aeacce1e3d034c502313dfa7") format("truetype"),
url("./flaticon_large.svg?1af72611aeacce1e3d034c502313dfa7#flaticon_large") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_large !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon_largemap: (
    "gear": "\f101",
    "customer-support": "\f102",
    "money-bag": "\f103",
    "developer": "\f104",
    "password": "\f105",
    "megaphone": "\f106",
    "vector": "\f107",
    "data": "\f108",
    "wrench": "\f109",
    "briefcase": "\f10a",
    "like": "\f10b",
    "trophy": "\f10c",
    "user": "\f10d",
);

.flaticon-gear:before {
    content: map-get($flaticon_largemap, "gear");
}
.flaticon-customer-support:before {
    content: map-get($flaticon_largemap, "customer-support");
}
.flaticon-money-bag:before {
    content: map-get($flaticon_largemap, "money-bag");
}
.flaticon-developer:before {
    content: map-get($flaticon_largemap, "developer");
}
.flaticon-password:before {
    content: map-get($flaticon_largemap, "password");
}
.flaticon-megaphone:before {
    content: map-get($flaticon_largemap, "megaphone");
}
.flaticon-vector:before {
    content: map-get($flaticon_largemap, "vector");
}
.flaticon-data:before {
    content: map-get($flaticon_largemap, "data");
}
.flaticon-wrench:before {
    content: map-get($flaticon_largemap, "wrench");
}
.flaticon-briefcase:before {
    content: map-get($flaticon_largemap, "briefcase");
}
.flaticon-like:before {
    content: map-get($flaticon_largemap, "like");
}
.flaticon-trophy:before {
    content: map-get($flaticon_largemap, "trophy");
}
.flaticon-user:before {
    content: map-get($flaticon_largemap, "user");
}
